apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
  labels:
    app: vote
    type: front-tier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
      type: front-tier
  template:
    metadata:
      name: vote
      labels:
        app: vote
        type: front-tier
    spec:
      containers:
      - name: vote
        image: dockersamples/examplevotingapp_vote
        ports:
        - containerPort: 80
          name: vote